In [ ]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

In [2]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
train

,timestamp,back_x,back_y,back_z,thigh_x,thigh_y,thigh_z,label
0,2000-01-01 00:00:00.000,-0.956569,-0.098830,0.080135,-0.960096,-0.162203,-0.019368,6
1,2000-01-01 00:00:00.020,-0.998093,-0.111525,0.078602,-1.020245,-0.092208,-0.045086,6
2,2000-01-01 00:00:00.040,-0.948218,-0.091371,0.083376,-0.970062,-0.115447,-0.058316,6
3,2000-01-01 00:00:00.060,-0.995374,-0.078641,0.099155,-1.011861,-0.133171,-0.024171,6
4,2000-01-01 00:00:00.080,-0.956965,-0.078572,0.088926,-0.999605,-0.024058,-0.077175,6
...,...,...,...,...,...,...,...,...
270683,2000-01-01 01:33:21.460,-0.937662,0.046846,-0.325718,0.295120,0.266235,0.920978,7
270684,2000-01-01 01:33:21.480,-0.937337,0.046903,-0.332703,0.295699,0.258065,0.925238,7
270685,2000-01-01 01:33:21.500,-0.937663,0.046848,-0.340252,0.295122,0.247369,0.922798,7
270686,2000-01-01 01:33:21.520,-0.937336,0.046901,-0.337360,0.295697,0.250210,0.924713,7
270687,2000-01-01 01:33:21.540,-0.937665,0.046850,-0.345779,0.295124,0.248847,0.922986,7

In [3]:
test

,timestamp,back_x,back_y,back_z,thigh_x,thigh_y,thigh_z
0,2000-01-01 01:33:21.560,-0.937335,0.046899,-0.342502,0.295695,0.264578,0.924721
1,2000-01-01 01:33:21.580,-0.937666,0.046852,-0.344900,0.295126,0.265042,0.922686
2,2000-01-01 01:33:21.600,-0.937333,0.046897,-0.336490,0.295694,0.265239,0.925745
3,2000-01-01 01:33:21.620,-0.937668,0.046854,-0.340287,0.295127,0.265118,0.932006
4,2000-01-01 01:33:21.640,-0.937332,0.046895,-0.330291,0.295692,0.265059,0.920916
...,...,...,...,...,...,...,...
90224,2000-01-01 02:09:26.880,-0.990168,-0.060075,0.081295,-0.986077,-0.033986,0.022038
90225,2000-01-01 02:09:26.900,-0.949873,-0.063681,0.074504,-0.961862,-0.096602,-0.000282
90226,2000-01-01 02:09:26.920,-1.010094,-0.060867,0.082230,-1.019280,-0.079514,0.028906
90227,2000-01-01 02:09:26.940,-0.958566,-0.075775,0.073181,-0.985680,-0.114626,-0.010128
90228,2000-01-01 02:09:26.960,-1.011049,-0.076941,0.086553,-1.008323,-0.086885,0.042776

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270688 entries, 0 to 270687
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  270688 non-null  object
 1   back_x     270688 non-null  float64
 2   back_y     270688 non-null  float64
 3   back_z     270688 non-null  float64
 4   thigh_x    270688 non-null  float64
 5   thigh_y    270688 non-null  float64
 6   thigh_z    270688 non-null  float64
 7   label      270688 non-null  int64
dtypes: float64(6), int64(1), object(1)
memory usage: 16.5+ MB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90229 entries, 0 to 90228
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  90229 non-null  object
 1   back_x     90229 non-null  float64
 2   back_y     90229 non-null  float64
 3   back_z     90229 non-null  float64
 4   thigh_x    90229 non-null  float64
 5   thigh_y    90229 non-null  float64
 6   thigh_z    90229 non-null  float64
dtypes: float64(6), object(1)
memory usage: 4.8+ MB

In [6]:
for df in (train , test): 
    df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')
    df.sort_values('timestamp', inplace=True)
    df.reset_index(drop=True, inplace=True)

In [7]:
train

,timestamp,back_x,back_y,back_z,thigh_x,thigh_y,thigh_z,label
0,2000-01-01 00:00:00.000,-0.956569,-0.098830,0.080135,-0.960096,-0.162203,-0.019368,6
1,2000-01-01 00:00:00.020,-0.998093,-0.111525,0.078602,-1.020245,-0.092208,-0.045086,6
2,2000-01-01 00:00:00.040,-0.948218,-0.091371,0.083376,-0.970062,-0.115447,-0.058316,6
3,2000-01-01 00:00:00.060,-0.995374,-0.078641,0.099155,-1.011861,-0.133171,-0.024171,6
4,2000-01-01 00:00:00.080,-0.956965,-0.078572,0.088926,-0.999605,-0.024058,-0.077175,6
...,...,...,...,...,...,...,...,...
270683,2000-01-01 01:33:21.460,-0.937662,0.046846,-0.325718,0.295120,0.266235,0.920978,7
270684,2000-01-01 01:33:21.480,-0.937337,0.046903,-0.332703,0.295699,0.258065,0.925238,7
270685,2000-01-01 01:33:21.500,-0.937663,0.046848,-0.340252,0.295122,0.247369,0.922798,7
270686,2000-01-01 01:33:21.520,-0.937336,0.046901,-0.337360,0.295697,0.250210,0.924713,7
270687,2000-01-01 01:33:21.540,-0.937665,0.046850,-0.345779,0.295124,0.248847,0.922986,7

In [8]:
test

,timestamp,back_x,back_y,back_z,thigh_x,thigh_y,thigh_z
0,2000-01-01 01:33:21.560,-0.937335,0.046899,-0.342502,0.295695,0.264578,0.924721
1,2000-01-01 01:33:21.580,-0.937666,0.046852,-0.344900,0.295126,0.265042,0.922686
2,2000-01-01 01:33:21.600,-0.937333,0.046897,-0.336490,0.295694,0.265239,0.925745
3,2000-01-01 01:33:21.620,-0.937668,0.046854,-0.340287,0.295127,0.265118,0.932006
4,2000-01-01 01:33:21.640,-0.937332,0.046895,-0.330291,0.295692,0.265059,0.920916
...,...,...,...,...,...,...,...
90224,2000-01-01 02:09:26.880,-0.990168,-0.060075,0.081295,-0.986077,-0.033986,0.022038
90225,2000-01-01 02:09:26.900,-0.949873,-0.063681,0.074504,-0.961862,-0.096602,-0.000282
90226,2000-01-01 02:09:26.920,-1.010094,-0.060867,0.082230,-1.019280,-0.079514,0.028906
90227,2000-01-01 02:09:26.940,-0.958566,-0.075775,0.073181,-0.985680,-0.114626,-0.010128
90228,2000-01-01 02:09:26.960,-1.011049,-0.076941,0.086553,-1.008323,-0.086885,0.042776

In [9]:
print("rows -> train:", len(train), "| test:", len(test))
print("nulls(train):", train.isnull().sum().to_dict())
print("nulls(test):",  test.isnull().sum().to_dict())
print("time monotonic ->", train['timestamp'].is_monotonic_increasing, test['timestamp'].is_monotonic_increasing)

rows -> train: 270688 | test: 90229
nulls(train): {'timestamp': 0, 'back_x': 0, 'back_y': 0, 'back_z': 0, 'thigh_x': 0, 'thigh_y': 0, 'thigh_z': 0, 'label': 0}
nulls(test): {'timestamp': 0, 'back_x': 0, 'back_y': 0, 'back_z': 0, 'thigh_x': 0, 'thigh_y': 0, 'thigh_z': 0}
time monotonic -> True True

In [10]:
dt = train['timestamp'].diff().dropna().dt.total_seconds()
fs = 1/dt[dt>0].median()
print("median delta time (s):", dt[dt>0].median(), " ~ fs (Hz):", fs)

median delta time (s): 0.02  ~ fs (Hz): 50.0

In [11]:
if 'label' in train.columns:
    print("label counts:\n", train['label'].value_counts().sort_index())

label counts:
 label
1     20074
2      1806
3     13540
4      3040
5      2350
6     49568
7    176258
8      4052
Name: count, dtype: int64

In [12]:
WINDOW = 200   
STRIDE = 50    
MIN_PURITY = 0.7  
win_labels = []
win_idx = []   

n = len(train)
for s in range(0, n - WINDOW + 1, STRIDE):
    e = s + WINDOW
    w_lbl = train['label'].iloc[s:e]
    vc = w_lbl.value_counts(normalize=True)
    maj, purity = vc.idxmax(), vc.max()
    if purity >= MIN_PURITY:
        win_labels.append(maj)
        win_idx.append((s, e))

win_labels = np.array(win_labels)
win_idx = np.array(win_idx)

print("number of windows", len(win_idx))
print("label distributed:")
print(pd.Series(win_labels).value_counts().sort_index())

number of windows 4961
label distributed:
1     288
2      32
3     106
4      53
5      43
6     846
7    3514
8      79
Name: count, dtype: int64

In [13]:
SENS = ['back_x','back_y','back_z','thigh_x','thigh_y','thigh_z']

def window_features(df, s, e):
    A = df[SENS].iloc[s:e].values  
    feats = np.hstack([
        A.mean(0),               
        A.std(0),               
        A.min(0),               
        A.max(0),                
        (A**2).mean(0),         
    ])
    return feats  


X_feats = np.vstack([window_features(train, s, e) for (s,e) in win_idx])
y_win   = win_labels.astype(int)

print("X_feats.shape:", X_feats.shape)
print("y_win.shape:", y_win.shape)

X_feats.shape: (4961, 30)
y_win.shape: (4961,)

In [14]:
cut = int(0.8 * len(X_feats))
X_train, X_val = X_feats[:cut], X_feats[cut:]
y_train, y_val = y_win[:cut], y_win[cut:]

print("Train:", X_train.shape, " Val:", X_val.shape)

Train: (3968, 30)  Val: (993, 30)

In [ ]:
clf = RandomForestClassifier(
    n_estimators=200, 
    class_weight='balanced', 
    random_state=42, 
    n_jobs=-1
)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_val)
f1 = f1_score(y_val, y_pred, average='macro')
print("Validation macro-F1:", round(f1, 3))

Validation macro-F1: 0.782

In [16]:
WINDOW, STRIDE = 200, 50
SENS = ['back_x','back_y','back_z','thigh_x','thigh_y','thigh_z']

def window_features(df, s, e):
    A = df[SENS].iloc[s:e].values
    return np.hstack([A.mean(0), A.std(0), A.min(0), A.max(0), (A**2).mean(0)])

Xt, idx_te = [], []
n = len(test)
for s in range(0, n - WINDOW + 1, STRIDE):
    e = s + WINDOW
    Xt.append(window_features(test, s, e))
    idx_te.append((s, e))

Xt = np.vstack(Xt)           
idx_te = np.array(idx_te)    
Xt.shape, idx_te.shape

((1801, 30), (1801, 2))

In [17]:
win_pred = clf.predict(Xt)   
classes = np.sort(np.unique(y_win))      
class2col = {c:i for i,c in enumerate(classes)}

In [ ]:
K = len(classes)
votes = np.zeros((len(test), K), dtype=np.int32)

for (s, e), lbl in zip(idx_te, win_pred):
    votes[s:e, class2col[lbl]] += 1

row_pred_col = votes.argmax(axis=1)
row_pred_lbl = classes[row_pred_col]

test['label'] = row_pred_lbl.astype(int)
test.head()

,timestamp,back_x,back_y,back_z,thigh_x,thigh_y,thigh_z,label
0,2000-01-01 01:33:21.560,-0.937335,0.046899,-0.342502,0.295695,0.264578,0.924721,7
1,2000-01-01 01:33:21.580,-0.937666,0.046852,-0.344900,0.295126,0.265042,0.922686,7
2,2000-01-01 01:33:21.600,-0.937333,0.046897,-0.336490,0.295694,0.265239,0.925745,7
3,2000-01-01 01:33:21.620,-0.937668,0.046854,-0.340287,0.295127,0.265118,0.932006,7
4,2000-01-01 01:33:21.640,-0.937332,0.046895,-0.330291,0.295692,0.265059,0.920916,7

In [20]:
test['label'].value_counts().sort_index()

label
1    11579
2      550
3     1800
4     3050
5     3150
6     4600
7    60250
8     5250
Name: count, dtype: int64

In [19]:
test.to_csv("./data/submission.csv", index=False)